@font-face {
    -fx-font-family: 'Ink Blossoms';
    src: url('../fonts/Ink-Blossoms.ttf');
}

.text{
    -fx-font-family: "Ink Blossoms";
}

.button{
    -fx-background-image:url('../buttons/cm_btn_blue.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent ;
}

.button:pressed{
    -fx-background-image:url('../buttons/cm_btn_blue_pressed.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent ;
}

.exit-button {
    -fx-background-image:url('../buttons/cm_btn_coral.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-content-display: top;
    -fx-font-family: "Ink Blossoms";
    -fx-font-size: 15;
}

.exit-button:pressed {
    -fx-background-image:url('../buttons/cm_btn_green_pressed.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-font-family: "Ink Blossoms";
}
