.frame-branch {
    -fx-background-image:url('../frames/fg_panel2.png');
    -fx-background-size: cover ;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.frame {
    -fx-background-image:url('../frames/fg_panel4.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button {
    -fx-background-image:url('../buttons/btn_blue.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button:pressed {
    -fx-background-image:url('../buttons/btn_blue_pressed.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
