@font-face {
    -fx-font-family: 'Ink Blossoms';
    src: url('../fonts/Ink-Blossoms.ttf');
}

@font-face {
    -fx-font-family: 'Negotiate Free';
    src: url('../fonts/negotiate-free.ttf');
}

.background-board {
    -fx-background-image: url('../title/title_sky.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button {
    -fx-background-image:url('../buttons/cm_btn_blue.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-content-display: top;
    -fx-font-family: "Ink Blossoms";
    -fx-font-size: 15;

}

.button:pressed {
    -fx-background-image:url('../buttons/cm_btn_blue_pressed.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-image:url('../labels/clp_textbar.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-text-inner-color: white;
    -fx-font-family: "Negotiate Free";
}
